{% extends "layout.j2" %}

{% block title %}Tambah Staf{% endblock %}

{% block judul_halaman %}Tambah Staf{% endblock %}

{% block main %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h4 class="card-title">Masukkan Data Staf</h4>
                                    </div>
                                </div>
                    
                                <form class="form">
                                    <div class="form-group m-t-40 row">
                                        <label for="example-text-input" class="col-2 col-form-label">Nama</label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" id="example-text-input">
                                        </div>
                                    </div>
                                    <div class="form-group m-t-40 row">
                                        <label for="example-text-input" class="col-2 col-form-label">Jabatan</label>
                                        <div class="col-10">
                                            <select class="form-control">
                                                <option selected="">Pilih Jabatan...</option>
                                                <option value="1">Pekerja</option>
                                                <option value="2">Koordinator</option>
                                                <option value="3">Manager</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-t-40 row">
                                        <label for="example-text-input" class="col-2 col-form-label">No HP</label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" id="example-text-input">
                                        </div>
                                    </div>
                                    <div class="form-group m-t-40 row">
                                        <label for="example-text-input" class="col-2 col-form-label">Email</label>
                                        <div class="col-10">
                                            <input class="form-control" type="email" id="example-text-input">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-2 col-form-label">Password</label>
                                        <div class="col-10">
                                            <input class="form-control" type="password" id="example-text-input">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-2 col-form-label">Verifikasi Password</label>
                                        <div class="col-10">
                                            <input class="form-control" type="password" id="example-text-input">
                                        </div>
                                    </div>
                                    <div align="right">
                                        <a href="/staf"> <button type="button" class="btn btn-inverse">Batal</button></a>
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Simpan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->            
            </div>
        </div>
        </div>
{% endblock %}